# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*~

# IDE
.vscode/
.idea/

# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Build outputs
dist/
build/